.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.countryIcon {
  height: fit-content;
  text-align: center;
}

.globe {
  height: 80px;
  width: 80px;
  animation: rotate 60s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}
