.container {
  margin: 50px;
}

.card {
  margin: 0 2% !important;
  padding-right: 10px;
  align-items: center;
}


.confirmed{
  border-bottom: 5px solid rgb(204,0,0);
}

.recovered {
  border-bottom: 5px solid rgb(51,174,139);
}

.deaths {
  border-bottom: 5px solid rgb(37,37,37);
}

@media(max-width: 960px) {
  .container {
    margin: 50px 0;
  }
  .card {
    margin: 2% 0 !important;
  }
  .card_icon {
    position: relative;
    float: right;
    bottom: 90px;
  }
}