.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.chartContainer {
  display: flex;
  justify-content: center;
  width: 95%;
  /* height: 30%; */
  top: 200px;
}

.formControl {
  width: 70%;
  margin-bottom: 30px !important;
  top: 20px;
}


.stateChartContainer {
  display: flex; 
  flex-direction: column;
  width: 85%;
  justify-content: center;
  margin: 50px 0;
}

.stateDetails {
  font-size: 15px;
  font-family: monospace;
}

.district__data {
  text-align: center;
  width: max-content;
}
.tableContainer {
  width: auto;
  text-align: end;
  display: block;
}

.district {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.district td, .district th {
  border: 1px solid #ddd;
  padding: 8px;
}

.district tr:nth-child(even){background-color: #f2f2f2;}

.district tr:hover {background-color: #ddd;}

.district th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media(max-width: 770px) {
  .formControl{
    width: 80%;
  }
  .stateChartContainer {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .formControl{ 
    width: 80%;
  }
}
